@font-face {
	font-family: 'Cheri Liney';
	src: url(cheri-liney.ttf);
}
a {
	background: linear-gradient(to right, #f00 , #ff0, #0f0, #0ff, #00f, #f0f, #f00);	
	font-weight:bold;
	font-family: 'Cheri Liney';
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
